*{
  font-family: font-awesome, arial, helvetica, Sans-Serif;
  text-rendering: optimizeLegibility;
}
body{
}

h1{
  font-family: helvetica;
  font-size: 36px;
  margin: auto;
  width: 610px;
  color: black;
  margin-bottom: 25px;
}

h2{
    font-family: helvetica;
    font-size: 16px;
    margin: 0 auto;
    width: 1000px;
    color: black;
    margin-bottom: auto;
    margin-top: 25px;
}

h3{
    font-family: helvetica;
    font-size: 16px;
    margin: 0 auto;
    width: 1000px;
    color: black;
    margin-bottom: 25px;
    margin-top: 5px;
}
.row{

  float: left;
  width: 100%;
}
#logout_form{
  float:right;
}

#landing_header{
  margin: 0 auto;
  width: 800px;
}
#welcome{
    margin-bottom: 7px;
    margin-top: 6px;
    font-size: 18px;
}
#login{
  margin-bottom: 15px;
}

#input_container{
 display: block;
 margin-left: auto;
 margin-right: auto;

}


#register_link_button{
  float: left;
       border-top: 1px solid #96d1f8;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 7px 14px;
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #040508;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.inner_container{
  margin-left: auto;
  margin-right: auto;

} 
#input_area{
 width: 100%;
 background-color: #3385FF;
 border:  2px solid #000;
 width: 980px;
 padding: 10px;
 margin-top: 10px;
 height: 200px;
 margin-left: auto;
 margin-right: auto;
}

#landing_username{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-bottom: 10px;
}

#landing_question{

  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  max-height: 800px;
  width: 700px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;


}

#question_button{

  position:absolute; 
  margin-left: auto;
  margin-right: auto;
  left: 62%;
  width:200px;
  border-top: 1px solid #e6e6e6;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#e6e6e6));
  background: -webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
  background: -moz-linear-gradient(top, #e6e6e6, #e6e6e6);
  background: -ms-linear-gradient(top, #e6e6e6, #e6e6e6);
  background: -o-linear-gradient(top, #e6e6e6, #e6e6e6);
  padding: 4px 8px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #000000;
  font-size: 12px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
 border-top-color: #e6e6e6;
 background: #e6e6e6;
 color: #120912;
}
.button:active {
 border-top-color: #000000;
 background: #000000;
}
.button:hover {
 border-top-color: #282978;
 background: #282978;
 color: #ccc;
}
.button:active {
 border-top-color: #1b435e;
 background: #1b435e;
}

.button:hover {
 border-top-color: #282978;
 background: #282978;
 color: #ccc;
}
.button:active {
 border-top-color: #1b435e;
 background: #1b435e;
}



#questions{
  border:  2px solid #000;
  background-color: #3385FF;
  width: 980px;
  margin: 10px auto;
  padding: 10px;
}
.single_q_container{
  margin: 10px 0;
  width: 100%;
  background-color: #E3E6EB;
  border:  2px solid #000;
  width: 955px;
  padding: 10px;
  margin-top: 25px;
}

#question_title_input{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 700px;
 margin-bottom: 25px;
 border-style: solid;
 border-width: 1px;
 border-color: black;

}
#button_wrapper{
  width: 200px;

}

.fullwidth{
  width: 100%;
  height: 50px;

}

#logout{
  margin-top: 10px;
}

#alpha_login{
    border:  2px solid #000;
    background-color: #3385FF;
    width: 980px;
    margin: auto;
    padding: 10px;
    height: 100px;
    font-size: 16px;
}


#logout_button{
 border-top: 1px solid #96d1f8;
 background: #ffffff;
 background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
 background: -webkit-linear-gradient(top, #ffffff, #ffffff);
 background: -moz-linear-gradient(top, #ffffff, #ffffff);
 background: -ms-linear-gradient(top, #ffffff, #ffffff);
 background: -o-linear-gradient(top, #ffffff, #ffffff);
 padding: 10px 20px;
 -webkit-border-radius: 29px;
 -moz-border-radius: 29px;
 border-radius: 29px;
 -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
 -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
 box-shadow: rgba(0,0,0,1) 0 1px 0;
 text-shadow: rgba(0,0,0,.4) 0 1px 0;
 color: #000000;
 font-size: 13px;
 font-family: Helvetica, Arial, Sans-Serif;
 text-decoration: none;
 vertical-align: middle;
}
.button:hover {
 border-top-color: #28597a;
 background: #28597a;
 color: #ccc;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   #profile_link_button{
      float: left;
       border-top: 1px solid #96d1f8;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 7px 14px;
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #040508;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   
   }


.single_q_textblock{
  padding: 0 0px 0 90px;
  position: relative;
  width: 900px;
}

.karma_number{
  float: left;
  margin: 0px 0 0 0;
  position: relative;
  float: left;
}

.karma_plus{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  border-bottom: 30px solid grey;
  position: relative;
  float: left;
  margin: 0 0 10px 0px;
  z-index: 1;
}

.karma_plus:hover, .karma_minus:hover{
  cursor: pointer;
}

.karma_minus{
  z-index: 1;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  border-top: 30px solid grey;
  float: left;
  position: relative;
  margin: 10px 0 0 0px;
}

.karma_container{
  float: left;
  margin-left: 20px;
  width: 60px;
  min-height: 120px;
}

.karma_number{
  text-align: center;
  width: 40px;
}


.edit_text{
  font-style: italic;
  font-size: 14px;
}

#news{
  border:  2px solid #000;
  background-color: #33CCFF;
  width: 980px;
  margin: 10px auto;
  padding: 10px;
}

.clickable_area{
  text-decoration: none;
  color: #000;
}

.LP_headline{
  text-align: center;
  font-family: "font-awesome",sans-serif;
  font-size: 34px;
  color: orange;
  background-color: black;
  -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}

.footer{
  width: 100%;
  height: 40px;
  text-align: center;
  margin:  10px 0 10px;
  background-color: grey;
}

.footer_row{
  height: 20px;
  margin: 7px;
  z-index: 1;
  background-color: white;
  width: 99%;
}

#credits{
  margin: 16px 0;
  width: 40%;
  text-align: center;
  float: right;
  position: relative;
  border: 1px dotted black;
  padding: 12px;
}

#impressum_container{
  float: left;
  position: relative;
  width: 50%;
  border: 1px dotted black;
  padding: 12px;

}

#im_container{
  width: 90%;
  margin: 0 auto;
}

.last_link{
  margin-top : 1000px; 
  width: 100%;
  text-align: center;
}