*{

	
}
h1{
	font-family: helvetica;
    font-size: 36px;
    margin: auto;
    width: 610px;
    color: black;
    margin-bottom: 35px;
}
}

.username{
	color: blue;
	text-transform: uppercase;
}

.question_container{
	border: 2px solid black;
	margin: 5px 5px;
	padding: 0 5px ;
	background-color: #FFFFC2;
}

#question_section{
	border: 2px solid black;
	margin: auto;
	padding: 10px 10px;
	width: 1100px;
	background-color: lightgrey;
	margin-bottom: 20px;
}

#answer_section{
	border: 2px solid black;
	margin: auto;
	padding: 10px;
	background-color: lightgrey;
	width: 1100px;
}

.answer_container{
	border: 2px solid green;
	margin: 5px 5px;
	padding: 0 5px ;
	background-color: #A6DCA6;
}

.section_link{
	text-decoration: none;
	color: #000;
}

.edit_question{
	display: none;
	border: 2px solid orange;
	padding: 5px;
	margin: 5px 5px 5px 25px;
}

.title_link{
	text-decoration: none;
	color: #000;
}
#userinfo{
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 980px;

	background-color: lightgrey;
	margin-bottom: 20px;
}