#single_header{
	height: 50px;
	width:100%;
}

#single_wrap_outer{
	width: 100%;
	background-color: #3385FF;
	border:  2px solid #000;
    width: 980px;
    margin: 10px auto;
    padding: 10px;
}

#single_wrap{
	margin: 0 auto;
	width: 800px;
}

.single_q_container{
}

h1{
    font-family: helvetica;
    font-size: 36px;
    margin: 0 auto;
    width: 610px;
    color: black;
    margin-bottom: 25px;
}

h2{
    font-family: helvetica;
    font-size: 16px;
    margin: 0 auto;
    width: 800px;
    color: black;
    margin-bottom: 25px;
}

#single_answer{

    width: 100%;
    background-color: #E3E6EB;
    border:  2px solid #000;
    width: 775px;
    padding: 10px;
    margin-top: 25px;
}

#answer_username{
	display: block;
    color: red;
    width: 300px;
    margin-bottom: 10px;
}

#answer_text{
    resize: none;
    display: block;
    width: 400px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#answer_button{

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.single_q_container{
	width: 100%;
	background-color: #E3E6EB;
	border:  2px solid #000;
    width: 775px;
    padding: 10px;
    margin-top: 25px;
}

.single_a_container{
	width: 100%;
	background-color: #E3E6EB;
	border:  2px solid #000;
    width: 775px;
    padding: 10px;
    margin-top: 25px;
    min-height: 100px;
}

.title_link{
    text-decoration: none;
    color: #000;
}

.karma_number{
  float: left;
  margin: 0px 0 0 0;
  position: relative;
  float: left;
}

.karma_plus{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  border-bottom: 30px solid grey;
  position: relative;
  float: left;
  margin: 0 0 10px 0px;
  z-index: 1;
}

.karma_plus:hover, .karma_minus:hover{
  cursor: pointer;
}

.karma_minus{
  z-index: 1;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  border-top: 30px solid grey;
  float: left;
  position: relative;
  margin: 10px 0 0 0px;
}

.karma_container{
  float: left;
  margin-left: 20px;
  width: 60px;
  min-height: 120px;
}

.karma_number{
  text-align: center;
  width: 40px;
}
