*{
    font-family: arial, helvetica, Sans-Serif;
    text-rendering: optimizeLegibility;
}

h1{
    font-family: helvetica;
    font-size: 36px;
    margin: 0 auto;
    width: 610px;
}

.row{

    float: left;
    width: 100%;   
}



#input_container{
    float: left;
    width: 1060px;
    margin: 20px 100px;
}

.inner_container{
    width: 800px;
    margin: 0 auto;
}

#landing_username{
    float: left;
    margin: 0 auto 20px;
    width: 400px;
}

#landing_question{
    float: left;
    width: 800px;
    min-height: 100px;
    max-height: 300px;
}

#questions{
    border:  2px solid #000;
    width: 980px;
    margin: 10px auto;
    padding: 10px;
}
.single_q_container{
    margin: 10px 0;
}
